body {
  margin: 0;
  padding: 0;
}

.myFlexBoxContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100vh;
  
}

.box {
  color: white;
  font-size: 100px;
  text-align: center;
  padding: 10px;
}

.box1 {
  background: #1abc9c;
  align-self: flex-start;
}

.box2 {
  background: #2ecc71;
}

.box3 {
  background-color: #3498db;
}

.box4 {
  background-color: #9b59b6;
  align-self: flex-end;
}

.box5 {
  background-color: #34495e;
}

.box6 {
  background-color: #f1c40f;
  align-self: baseline;
}

.box7 {
  background-color: #e67e22;
}

.box8 {
  background-color: #e74c3c;
}

.box9 {
  background-color: #16a085;
  align-self: baseline;
  font-size: 200px;
}

.box10 {
  background-color: #8e44ad;
}
